.list .transmoveicon {
  transform: translateY(-20px);
  scale: 1.5;
}

.iconback::before {
  content: "";
  position: absolute;
  top: 46%;
  left: -20px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-right-radius: 20px;
  box-shadow: 0px -10px 0 0 #a19f9b;
  z-index: 100;
}

.iconback::after {
  content: "";
  position: absolute;
  top: 46%;
  right: -20px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-left-radius: 20px;
  box-shadow: 0px -10px 0 0 #a19f9b;
  z-index: 100;
}

.list .transmovetext {
  transform: translateY(-8px);
  opacity: 1;
}
