.main:hover .Bclick {
  display: block;
  transition-duration: 1s;
}

.viewbut:hover .arrow {
  transform: translateX(5px);
}

.main:hover .webimg {
  transform: scale(1.1);
}

.main:hover {
  border: 1px solid white;
}
